// font-family: 'Livvic', sans-serif;
// font-family: 'Beth Ellen', cursive;

// fonts
$font-default: 'Livvic', sans-serif;
$font-special: 'Beth Ellen', cursive, sans-serif;
$font-size: 10px;

// colors
$color-white: #fff;
$color-black: #000;
$color-dark: rgb(28, 28, 28);
$color-light: rgb(232, 232, 232);


